@media screen and (max-width: 1500px){
    #card {
        gap: 0px;
    }
    .header{
        padding: 0px 120px;
    }
    .logo{
        width: 120px;
    }
    .texto_card {
        max-width: 400px;
    }
}


@media screen and (max-width: 1140px){
    #buscar{
        display: none;
    }

    .oil_img{
        width:300px;
    }
    .navbar_list{
        position: absolute;
        flex-direction: column;
        right: 10px;
        top: 170px;
        background: rgba(255, 255, 255, 0.082);
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
        padding: 30px;
        border-radius: 10px;
        display: none;
    }

    .menu-label{
        display: flex;
    }

    #menu-toggle:checked ~ .navbar_list{
        display: flex;
    }
    #seccioncompra {
        padding: 0px 0px; 
    }

        .title1{
            text-align: center;
        }
        #card{
            
            gap: 50px;
        }
        
        #card h1{
            font-size: 50px;
        }
        
        #card h2{
            font-size: 20px;
        }
        
        #card p{
        font-size: 18px;
        
        }

    .header{
        padding: 0px 65px;
    }
    .txt_doctor p {
        font-size: 14px;
    }
    .img_doctor{
        max-width: 300px;
        max-height: 300px;
    }
 }


 @media screen and (max-width: 768px){
    .caja{
        max-width: 300px;
        max-height: 600px;
        padding: 10px;
    }
    
    .reseña{
        font-size: 14px;
        text-align: center;
     }
    .logo {
        width: 120px;
    }

    .btn2{
        margin: 20px auto 20px auto;
    }
                         
    .lupa{
        display: none;
    }
.logo{
    left: 10px;
}

.cajas{
    flex-direction: column;
}
#card{   
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#card h1{
    font-size:  30px;
}

#card h2{
    font-size: 10px;
}

#card p{
font-size: 15px;
}

.beneficios{
    flex-direction: column;
}
.txt_doctor{
    text-align: center;
}
.redeslinks {
    gap: 0.5rem;
}
 }

 @media screen and (max-width: 375px){
    .btn {
        background: rgb(165, 148, 161);
        padding: 5px 5px;
        font-size: 14px;
    }

    .img_doctor {
        max-width: 200px;
        max-height: 200px;
    }
   

.txt_doctor p {
    font-size: 12px;
}
img.oil_img {
    display: none;
 }
 
 #card p {
    font-size: 15px;
    padding: 0px 25px;
    
}
 
 }

